@{
    ViewBag.Title = "Home Page";
}
<style>
    .bg-img {
        background-image: url('../images/desktop.jpg');
        background-size: 100% cover;
        background-position: center center;
        background-repeat: repeat;
        height: fit-content;
        margin: initial;
    }
</style>
<body class="bg-img">


    <center>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <h1 style="font-size:78px;color:white"> Welcome to Banking System</h1>
        @*<style>
                h2{text-align:right; }
            </style>*@
        <br />

        <h2 style="font-size:38px; color:white"> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; by Ganesh Kumar P</h2>
    </center>
</body>